name: CI
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18, 20, 22, 24]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - run: npm ci
      - run: npm run build
      - run: npm run lint
      - run: npm test
        env:
          CI: true
      - run: npm pack
        if: matrix.node == 24
      - uses: actions/upload-artifact@v6
        if: matrix.node == 24
        with:
          name: package
          path: '*.tgz'

  test-package:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [14, 16, 18, 20, 22, 24]
    steps:
      - uses: actions/checkout@v4
        with:
          path: source
      - uses: actions/download-artifact@v7
        with:
          name: package
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: npm install *.tgz
      - name: Test
        run: |
          node - << END
          const m = require('spring-map-parser');
          const p = new m.MapParser({ verbose: true, mipmapSize: 4, skipSmt: false });
          p.parseMap("source/test/test_maps/barren_2.sd7")
            .then(() => console.log("ok"))
            .catch(e => { console.error(e); process.exit(1); });
          END
