name: Deploy New Version
on:
  push:
    tags:
      - v*
jobs:
  deployment:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    environment: npm
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: npm publish
